.message-alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}
.message-alert-fail{
    padding: 20px;
    background-color: red;
    color: black;
}

.message-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.message-closebtn:hover {
    color: black;
}