<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Artikel eintragen</title>
</head>
<body>
	<div id="headline">
		<h1>Artikel eintragen</h1>
	</div>
	<form id="artikelEintragen" th:object="${artikelForm}" action="#" method="post" th:action="@{/artikelEintragen}">
		<input id="artikelname" placeholder="Artikelname" th:field="*{artikel.name}" />
		<div id="artikelname_error" th:if="${#fields.hasErrors('artikel.name')}" th:errors="*{artikel.name}">Name Error</div>
		<input id="artikelbeschreibung" placeholder="Artikelbeschreibung" th:field="*{artikel.beschreibung}" /> 
		<div id="beschreibung_error" th:if="${#fields.hasErrors('artikel.beschreibung')}" th:errors="*{artikel.beschreibung}">Name Error</div>
		<input id="technischeDaten" placeholder="Technische Daten" th:field="*{artikel.technischeDaten}" /> 
		<div th:if="${#fields.hasErrors('artikel.technischeDaten')}" th:errors="*{artikel.technischeDaten}">Name Error</div>
		<select id="artikelKategorie" th:field="*{artikel.kategorie}">
			<option value="">Artikel-Kategorie</option>
			<option th:each="kategorie : ${kategorien}" th:value="${kategorie.id}" th:text="${kategorie.bezeichnung}"></option>
		</select> 
		<div th:if="${#fields.hasErrors('artikel.kategorie')}" th:errors="*{artikel.kategorie}">Name Error</div>
		<select id="artikelZustand" th:field="*{artikel.zustand}">
			<option value="">Artikel-Zustand</option>
			<option th:each="zustand : ${T(org.verleihsystem.model.Artikelzustand).values()}" th:value="${zustand}" th:text="${zustand.beschreibung}"></option>
		</select>
		<div id="uebergabeOrte">
			<div th:if="${#fields.hasErrors('artikel.zustand')}" th:errors="*{artikel.zustand}">Name Error</div>
			<h3>Übergabeorte</h3>
				<div th:if="${not #lists.isEmpty(artikelForm.artikel.uebergabeorte)}">
						<div th:each="ort , stat : ${artikelForm.artikel.uebergabeorte}">
								<table>
								<tr>
								<td th:text="|Übergabeort-${stat.index + 1}: |"/>
								<td><input id="uebergabeort-str" placeholder="Str." th:field="*{artikel.uebergabeorte[__${stat.index}__].strasse}" type="text"/></td>
								<td><input id="uebergabeort-nr" placeholder="Nr." th:field="*{artikel.uebergabeorte[__${stat.index}__].nummer}" type="text"/></td>
								<td><input id="uebergabeort-plz" placeholder="PLZ" th:field="*{artikel.uebergabeorte[__${stat.index}__].plz}" type="text"/></td>
								<td><input id="uebergabeort-stadt" placeholder="Ort" th:field="*{artikel.uebergabeorte[__${stat.index}__].stadt}" type="text"/></td>
								<td><input id="uebergabeort-beschreibung" placeholder="Beschreibung" th:field="*{artikel.uebergabeorte[__${stat.index}__].beschreibung}" type="text"/></td>
								<td><button id="uebergabeOrtEntfernenBtn" th:if="${#lists.size(artikelForm.artikel.uebergabeorte) &gt; 1}" type="submit" th:value="${stat.index}" name="uebergabeOrtEntfernen">Übergabeort entfernen</button></td>
								</tr>
								<tr>
								<td></td>
								<td><span th:if="${#fields.hasErrors('artikel.uebergabeorte[__${stat.index}__].stadt')}" th:errors="*{artikel.uebergabeorte[__${stat.index}__].strasse}">Name Error</span></td>
								<td><span th:if="${#fields.hasErrors('artikel.uebergabeorte[__${stat.index}__].nummer')}" th:errors="*{artikel.uebergabeorte[__${stat.index}__].nummer}">Name Error</span></td>
								<td><span th:if="${#fields.hasErrors('artikel.uebergabeorte[__${stat.index}__].plz')}" th:errors="*{artikel.uebergabeorte[__${stat.index}__].plz}">Name Error</span></td>
								<td><span th:if="${#fields.hasErrors('artikel.uebergabeorte[__${stat.index}__].stadt')}" th:errors="*{artikel.uebergabeorte[__${stat.index}__].stadt}">Name Error</span></td>
								<td></td>
								<td></td>
								</tr>
								</table>
						</div>
						<div th:if="${#lists.size(artikelForm.artikel.uebergabeorte) &lt; 3}">
							<button id="uebergabeOrtHinzufuegenBtn" type="submit" th:value="${ort}" name="uebergabeOrtHinzufuegen">Weiteren Übergabeort hinzufügen</button>
						</div>
				</div>
		</div>
		
		<div id="pfandInEuro">
			<h3>Pfand</h3>
			<h6>Pfandbetrag in EUR:</h6>
				<input id="pfandBetrag" type="number" min="0" value="0" name="pfandBetrag" th:field="*{artikel.pfand.pfandBetrag}"/>
			<h6>Akzeptierte Pfandgegenstände:</h6>
				<input id="pfandGegenstand" type="text" placeholder="Pfandgegenstände" name="pfandGegenstand" th:field="*{artikel.pfand.pfandGegenstand}"/>
			<div th:if="${#fields.hasErrors('artikel.pfand.pfandGegenstand')}" th:errors="*{artikel.pfand.pfandGegenstand}">Name Error</div>
		</div>
		<div th:if="${#fields.hasErrors('artikel.pfand')}" th:errors="*{artikel.pfand}">Name Error</div>
		<div id="verleihgebuehrInEuro">
			<h3>Verleihgebühr</h3>
			<h6>feste Gebühr in EUR:</h6>
				<input id="festeGebuehr" type="number" min="0" th:value="0" name="festeGebuehr" th:field="*{artikel.gebuehr.betrag}"/><!-- festerBetrag -->
			<h6>zeitliche Gebühr in EUR:</h6>
				<input id="zeitlicheGebuehr" type="number" min="0" th:value="0" name="zeitlicheGebuehr" th:field="*{artikel.gebuehr.zeitlicherBetrag}"/>
			<table id="frequenzen">
	    		<tr th:each="f : ${frequenzen}">
	    			<td><input type="radio" th:field="*{frequenz}" th:value="${f}" /></td>
	    			<td><label th:for="${#ids.prev('frequenz')}" th:text="${f}"></label></td>
	    		</tr>
			</table>
		<div th:if="${#fields.hasErrors('frequenz')}" th:errors="*{frequenz}">Name Error</div>
		</div>
		<button id="fertigStellenBtn" type="submit">Fertigstellen</button>
		
	</form>
</body>
</html>