<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verleihportal 1.0 | Willkommen!</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css"> -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/messages.css}" rel="stylesheet" type="text/css"/>
</head>

<body class="bg-dark">
<header>
    <div class="trailer">
        <nav class="navbar bg-blue fixed-top">
            <div class="container">
                <nav class="navbar navbar-light"><a class="navbar-brand" href="#"><img src="img/fhlogo.svg" width="20%"
                                                                                       height="20%"/></a></nav>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <div class="card">
                    <div class="card-block">
                        <h1>DASHBOARD</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="padding-bottom: 0.5%">
                <div class="col-md-6" style="margin: 0 auto;">
                    <div class="card">
                        <nav>
                            <div class="drowdown">
                                <form action="#" th:action="@{/dashboard}" th:object="${benutzer}" method="get">
                                    <button class="dropbtn">Einstellungen</button>
                                    <div class="dropdown-content">
                                        <a th:href="@{/dashboard}">Dashboard</a>
                                        <a th:href="@{/logout}">Abmelden</a>
                                        <a href="#">Konto löschen</a>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>

                    <div class="card" style="margin-top: 2%;">
                        <div class="suchedash">
                            <div>
                                <input type="name" style="width: 200px;" name="placeholder" placeholder="Suchbegriff"/>
                                <input type="name" style="width: 200px;" name="placeholder" placeholder="PLZ / Ort"/>
                                <a href="suche">Detailsuche</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${(param.stornieren != null) and (param.stornieren[0] == 'true')}">
        <div th:replace="messages :: stornierung-message"></div>
    </div>

    <div th:if="${(param.stornieren != null) and (param.stornieren[0] == 'false')}">
        <div th:replace="messages :: stornierung-fail-message"></div>
    </div>


    <!--<h1>Dashboard</h1>-->


</header>


<div class="container">
    <div class="row" style="margin-top: 2%;">


        <!-- Start of "Meine Artikel" -->
        <div class="card" style="width:100%">
            <div class="card-header"><h3>Meine Artikel: </h3></div>
            <div id="table">
                <div id="table-scroll">
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" id="header-fixed" width="100%"
                           overflow="scroll" class="scrollTable">
                        <thead>
                        <tr>
                            <td><b>Artikel-ID</b></td>
                            <td><b>Artikelname</b></td>
                            <td><b>Kategorie</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="artikel : ${artikelliste}">
                            <td><a th:href="@{/artikel/}+${artikel.id}"
                                   th:text="${artikel.id}"></a></td>
                            <td th:text="${artikel.beschreibung}">beschreibung</td>
                            <td th:if="${artikel.kategorie != null}" th:text="${artikel.kategorie.bezeichnung}">
                                kategorie
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <a class="card-link" href="/artikelEintragen">Weiteren Artikel hinzufügen</a>
            </div>
        </div>

        <!-- End of "Meine Artikel" -->

        <!-- Start of "Gesendete Anfragen" -->
        <div class="card" style="width:100%; margin-top:2%;">
            <div class="card-header"><h3>Gesendete Anfragen</h3></div>
            <div id="table">
                <div id="table-scroll">
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" id="header-fixed" width="100%"
                           overflow="scroll" class="scrollTable">
                        <thead>
                        <tr>
                            <td><b>Anfrage-ID</b></td>
                            <td><b>Bezeichnung</b></td>
                            <td><b>Status</b></td>
                            <td><b>Verleiher</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="anfrage:${gesendeteAnfragen}">
                            <td><a th:id="anfrage+${anfrage.id}" th:href="@{/anfrage/}+${anfrage.id}"
                                   th:text="${anfrage.id}"></a></td>
                            <td th:text="${anfrage.artikel.name}"></td>
                            <td th:text="${anfrage.status}"></td>
                            <td th:text="${anfrage.verleiher.benutzername}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of "Gesendete Anfragen" -->

        <div class="card" style="width: 100%; margin-top: 2%">
            <div class="card-header"><h3>Empfangende Anfragen:</h3></div>
            <div id="table">
                <div id="table-scroll">
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" id="header-fixed" width="100%"
                           overflow="scroll" class="scrollTable">
                        <thead>
                        <tr>
                            <td><b>Anfrage-ID</b></td>
                            <td><b>Bezeichnung</b></td>
                            <td><b>Status</b></td>
                            <td><b>Ausleiher</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="anfrage:${empfangeneAnfragen}">
                            <td><a th:href="@{/anfrage/}+${anfrage.id}" th:text="${anfrage.id}"></a></td>
                            <td th:text="${anfrage.artikel.name}"></td>
                            <td th:text="${anfrage.status}"></td>
                            <td th:text="${anfrage.ausleiher.benutzername}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div id = "addArtikel">
	<a href="/addArtikel"> Weiteren Artikel hinzufügen</a>
</div>
-->

<!--
<nav  class="ueber">
<h3>Gesendete Anfragen:</h3>
</nav>
-->

<!--
<nav  class="ueber">
<h3>Empfangende Anfragen:</h3>
</nav>
-->
<footer>
    <div>
        <nav class="navbar bg-blue fixed-bottom">
            <div class="container">
                <nav class="navbar navbar-light">
                    <span class="navbar-text">Dieses Projekt wird im Rahmen der SWT2 Veranstaltung im SS2018 entwickelt und befindet sich derzeit in der Version: 0.0.2</span>
                </nav>
            </div>
        </nav>
    </div>
</footer>
</body>
</html>