<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <title>Login</title>
    <style>
        body {
            /*        background: darkslategray; */
            /*        color: blanchedalmond; */
        }
    </style>

</head>

<header>

    <div class="trailer">
        <nav class="navbar bg-blue fixed-top">
            <div class="container">
                <nav class="navbar navbar-light"><a class="navbar-brand" href="#"><img th:src="@{img/fhlogo.svg}" width="20%" height="20%"/></a></nav>
                <form action="#" th:action="@{/registrierung}" method="post">
                    <button id="btnRegistrierung">Registrieren</button>
                </form>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <div class="card">
                    <div class="card-block">
                        <h1>Softwaretechnik II - Projekt</h1>
                        <h3 class="text-center">Verleihsystem</h3> <!-- hier soll der Name vom System sein-->
                    </div>
                </div>

                <div class="card" style="margin-top: 2rem">
                    <h3 class="text-center">Unser Team</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">To.</li>
                        <li class="list-group-item text-center">D.</li>
                        <li class="list-group-item text-center">E.</li>
                        <li class="list-group-item text-center">Ta.</li>
                        <li class="list-group-item text-center">V.</li>
                        <li class="list-group-item text-center">H.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</header>
<body class="bg-dark">
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-center">Bitte melden Sie sich an</h4>
                    <div style="color: red" th:if="${failure}== true" class="align-items-center">
                        Benutzername oder Passwort falsch
                        <style>
                            input {
                                border: 2px solid red;
                                border-radius: 4px;
                            }
                        </style>
                    </div>

                    <form action="#" th:action="@{/login}" th:object="${benutzer}" method="post">
                        <input id="Benutzername" type="text" th:field="*{benutzername}" placeholder="Benutzername"/>

                        <input id="Passwort" type="password" th:field="*{passwort}" placeholder="Passwort" />
                        <!-- <span th:if="${failure}== true"style="color: red;font-family: 'Comic Sans MS'">Benutzername oder PW falsch</span> -->
                        <br/>
                        <button id="btn1">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div>
        <nav class="navbar bg-blue fixed-bottom">
            <div class="container">
                <nav class="navbar navbar-light">
                    <span class="navbar-text">Dieses Projekt wird im Rahmen der SWT2 Veranstaltung im SS2018 entwickelt und befindet sich derzeit in der Version: 0.0.2</span>
                </nav>
            </div>
        </nav>
    </div>
</footer>

</body>
</html>