<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
    <link th:href="@{/css/registrierung.css}" rel="stylesheet" type="text/css"/>
    <title>Registrierung</title>
</head>

<body>
<form name="registrierung" method="post" action="/registrierung">
    <h1>Registrierung</h1><br/>
    <input type="text" id="bname" name="name" placeholder="Benutzername" required="required"
           pattern="^[A-Za-z0-9_]{8,20}$"
           title="Benutzername muss mind. 8 und max. 20 Buchstaben oder Zahlen enthalten"/><br/>
    <input type="email" id="mail" name="email" placeholder="E-Mail-Adresse" required="required"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/><br/>
    <input type="password" id="password" name="password" placeholder="Passwort"
           title="Passwort muss mind. 12 Zeichen, Grossbuchstaben, Zahlen und Sonderzeichen enthalten"
           required="required" pattern="(?=.{12,}$)(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*\W).*"/><br/>
    <input type="password" id="confirm_password" name="passwordWdhg" placeholder="Passwort" title="Passwort wiederholen"
           required="required"/><br/>

    <input type="checkbox" id="confirm_eula" name="confirm_eula" title="Den Nutzungsbedingungen muss zugestimmt werden"
           required="required"/>
    <label for="confirm_eula"><span></span>Nutzungsbedingungen zustimmen</label>

    <div style="color: red" th:if="${failure1}== true" class="align-items-center" id="bnamePatternError">
        Benutzername muss mind. 8 und max. 20 Buchstaben oder Zahlen enthalten
        <style>
            input {
                border: 2px solid red;
                border-radius: 2px;
            }
        </style>
    </div>
    <div style="color: red" th:if="${failure2}== true" class="align-items-center" id="emailPatternError">
        Email entspricht nicht Pattern.
        <style>
            input {
                border: 2px solid red;
                border-radius: 2px;
            }
        </style>
    </div>
    <div style="color: red" th:if="${failure3}== true" class="align-items-center" id="pwdPatternError">
        Passwort muss mind. 12 Zeichen, Grossbuchstaben, Zahlen und Sonderzeichen enthalten
        <style>
            input {
                border: 2px solid red;
                border-radius: 2px;
            }
        </style>
    </div>

    <div style="color: red" th:if="${failure}== true" class="align-items-center" id="pwdWdhError">
        Passwörter stimmen nicht überein
        <style>
            input {
                border: 2px solid red;
                border-radius: 2px;
            }
        </style>
    </div>

    <button type="submit" id="submit" value="Registrierung" title="Registrierung abschliessen"><span>Registrieren</span>
    </button>
</form>
</body>
</html>